---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/anipos/sparrow/commits/238947c2440028cfff5388c7fba3aa4ca7ae92f5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4791'
      X-Ratelimit-Reset:
      - '1592296071'
      Etag:
      - W/"5d7546db9c7b6cc729358151eb86d8f8"
      Last-Modified:
      - Tue, 16 Jun 2020 02:06:26 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"238947c2440028cfff5388c7fba3aa4ca7ae92f5","node_id":"MDY6Q29tbWl0MjU0Mjg2MDYwOjIzODk0N2MyNDQwMDI4Y2ZmZjUzODhjN2ZiYTNhYTRjYTdhZTkyZjU=","commit":{"author":{"name":"Shouichi
        Kamiya","email":"shouichi.kamiya@gmail.com","date":"2020-06-16T02:06:26Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-06-16T02:06:26Z"},"message":"Enable
        newly added rubocop lints (#25)","tree":{"sha":"ca38215b582380b4913764ba3903fe4e02968ad1","url":"https://api.github.com/repos/anipos/sparrow/git/trees/ca38215b582380b4913764ba3903fe4e02968ad1"},"url":"https://api.github.com/repos/anipos/sparrow/git/commits/238947c2440028cfff5388c7fba3aa4ca7ae92f5","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJe6CkiCRBK7hj4Ov3rIwAAdHIIAKw/s3iDyrLgQdK6hlnJLUqV\nJGtRAumlCXXM1wEzDmpesT2aj1PuwrqxZ0derwXjO8gkWW3hGT4wyv1eRY603rUk\nxuRpapFx2txAyx0X1nqiCHMODNOxPmxnUXMFflIm4wxsaguzI7255SiF0zkcBgHq\n3xYiUDtRQE+FLcV49aE/POYuVLkH8sFOgZCrM89XfoIamqQxYasSCp9BWnYtis/B\nfVMYv8At0jHcmoX1TKiAhSnck3CE5ERhFFz951xqk/vc4nzopmr6s4HxTvpFIedy\n+uTflgodyIK40gHRTTovd8RN4WkUnWiY9nSS3R7PzVNutY1KG79GUN1vodetfJk=\n=rxip\n-----END
        PGP SIGNATURE-----\n","payload":"tree ca38215b582380b4913764ba3903fe4e02968ad1\nparent
        9d06088481fdd645db1eef3d0f0e783ffabe0074\nauthor Shouichi Kamiya <shouichi.kamiya@gmail.com>
        1592273186 +0900\ncommitter GitHub <noreply@github.com> 1592273186 +0000\n\nEnable
        newly added rubocop lints (#25)\n\n"}},"url":"https://api.github.com/repos/anipos/sparrow/commits/238947c2440028cfff5388c7fba3aa4ca7ae92f5","html_url":"https://github.com/anipos/sparrow/commit/238947c2440028cfff5388c7fba3aa4ca7ae92f5","comments_url":"https://api.github.com/repos/anipos/sparrow/commits/238947c2440028cfff5388c7fba3aa4ca7ae92f5/comments","author":{"login":"shouichi","id":99586,"node_id":"MDQ6VXNlcjk5NTg2","avatar_url":"https://avatars0.githubusercontent.com/u/99586?v=4","gravatar_id":"","url":"https://api.github.com/users/shouichi","html_url":"https://github.com/shouichi","followers_url":"https://api.github.com/users/shouichi/followers","following_url":"https://api.github.com/users/shouichi/following{/other_user}","gists_url":"https://api.github.com/users/shouichi/gists{/gist_id}","starred_url":"https://api.github.com/users/shouichi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/shouichi/subscriptions","organizations_url":"https://api.github.com/users/shouichi/orgs","repos_url":"https://api.github.com/users/shouichi/repos","events_url":"https://api.github.com/users/shouichi/events{/privacy}","received_events_url":"https://api.github.com/users/shouichi/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"9d06088481fdd645db1eef3d0f0e783ffabe0074","url":"https://api.github.com/repos/anipos/sparrow/commits/9d06088481fdd645db1eef3d0f0e783ffabe0074","html_url":"https://github.com/anipos/sparrow/commit/9d06088481fdd645db1eef3d0f0e783ffabe0074"}],"stats":{"total":24,"additions":24,"deletions":0},"files":[{"sha":"fd3fb0de8164a75ef345d112d4780777ca1a3832","filename":".rubocop.yml","status":"modified","additions":24,"deletions":0,"changes":24,"blob_url":"https://github.com/anipos/sparrow/blob/238947c2440028cfff5388c7fba3aa4ca7ae92f5/.rubocop.yml","raw_url":"https://github.com/anipos/sparrow/raw/238947c2440028cfff5388c7fba3aa4ca7ae92f5/.rubocop.yml","contents_url":"https://api.github.com/repos/anipos/sparrow/contents/.rubocop.yml?ref=238947c2440028cfff5388c7fba3aa4ca7ae92f5","patch":"@@
        -16,6 +16,18 @@ Layout/MultilineMethodCallIndentation:\n Layout/MultilineOperationIndentation:\n   EnforcedStyle:
        indented\n \n+Layout/EmptyLinesAroundAttributeAccessor:\n+  Enabled: true\n+\n+Layout/SpaceAroundMethodCallOperator:\n+  Enabled:
        true\n+\n+Lint/DeprecatedOpenSSLConstant:\n+  Enabled: true\n+\n+Lint/MixedRegexpCaptureTypes:\n+  Enabled:
        true\n+\n RSpec/ExampleLength:\n   Enabled: false\n \n@@ -45,3 +57,15 @@ Lint/StructNewOverride:\n
        \n Style/TrailingCommaInArrayLiteral:\n   EnforcedStyleForMultiline: comma\n+\n+Style/ExponentialNotation:\n+  Enabled:
        true\n+\n+Style/RedundantRegexpCharacterClass:\n+  Enabled: true\n+\n+Style/RedundantRegexpEscape:\n+  Enabled:
        true\n+\n+Style/SlicingWithRange:\n+  Enabled: true"}]}'
  recorded_at: Tue, 16 Jun 2020 08:17:31 GMT
- request:
    method: get
    uri: https://api.github.com/repos/anipos/sparrow/branches/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4790'
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/anipos/sparrow/contents/spec/fixtures/git_ops/template.erb?ref=e576c84240351242a549e7e88079d854b464218a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4789'
      X-Ratelimit-Reset:
      - '1592296071'
      Etag:
      - W/"4525027e3d9fcb59367bf84ba971513514ce15cf"
      Last-Modified:
      - Tue, 16 Jun 2020 08:07:00 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"template.erb","path":"spec/fixtures/git_ops/template.erb","sha":"4525027e3d9fcb59367bf84ba971513514ce15cf","size":11,"url":"https://api.github.com/repos/anipos/sparrow/contents/spec/fixtures/git_ops/template.erb?ref=e576c84240351242a549e7e88079d854b464218a","html_url":"https://github.com/anipos/sparrow/blob/e576c84240351242a549e7e88079d854b464218a/spec/fixtures/git_ops/template.erb","git_url":"https://api.github.com/repos/anipos/sparrow/git/blobs/4525027e3d9fcb59367bf84ba971513514ce15cf","download_url":"https://raw.githubusercontent.com/anipos/sparrow/e576c84240351242a549e7e88079d854b464218a/spec/fixtures/git_ops/template.erb","type":"file","content":"PCU9IHRhZyAlPgo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/anipos/sparrow/contents/spec/fixtures/git_ops/template.erb?ref=e576c84240351242a549e7e88079d854b464218a","git":"https://api.github.com/repos/anipos/sparrow/git/blobs/4525027e3d9fcb59367bf84ba971513514ce15cf","html":"https://github.com/anipos/sparrow/blob/e576c84240351242a549e7e88079d854b464218a/spec/fixtures/git_ops/template.erb"}}'
  recorded_at: Tue, 16 Jun 2020 08:17:32 GMT
- request:
    method: post
    uri: https://api.github.com/repos/anipos/sparrow/git/blobs
    body:
      encoding: UTF-8
      string: '{"content":"238947c2440028cfff5388c7fba3aa4ca7ae92f5\n","encoding":"utf-8"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4788'
      X-Ratelimit-Reset:
      - '1592296071'
      Etag:
      - '"e98fcfee6f7b5edb86d347cd8dc98ba6"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/anipos/sparrow/git/blobs/b9d5b68a28a6f0bdac6c2479c47781d9eb209d59
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"b9d5b68a28a6f0bdac6c2479c47781d9eb209d59","url":"https://api.github.com/repos/anipos/sparrow/git/blobs/b9d5b68a28a6f0bdac6c2479c47781d9eb209d59"}'
  recorded_at: Tue, 16 Jun 2020 08:17:32 GMT
- request:
    method: post
    uri: https://api.github.com/repos/anipos/sparrow/git/trees
    body:
      encoding: UTF-8
      string: '{"base_tree":"e576c84240351242a549e7e88079d854b464218a","tree":[{"path":"spec/fixtures/git_ops/rewritten","mode":"100644","type":"blob","sha":"b9d5b68a28a6f0bdac6c2479c47781d9eb209d59"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4787'
      X-Ratelimit-Reset:
      - '1592296071'
      Etag:
      - [...]
- request:
    method: post
    uri: https://api.github.com/repos/anipos/sparrow/git/commits
    body:
      encoding: UTF-8
      string: '{"message":"Update tag to 238947c2440028cfff5388c7fba3aa4ca7ae92f5\n\n>
        Enable newly added rubocop lints (#25)\n\nhttps://github.com/anipos/sparrow/commit/238947c2440028cfff5388c7fba3aa4ca7ae92f5\n\n","tree":"cb0ab623ade50a10d1f66b443cca6e02cc65ea12","parents":["e576c84240351242a549e7e88079d854b464218a"]}'
    headers:
      Content-Type:
      - app[...]
- request:
    method: post
    uri: https://api.github.com/repos/anipos/sparrow/git/refs
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gitops-238947c2440028cfff5388c7fba3aa4ca7ae92f5-spec","sha":"aee5ea92cd9de5cb1f26334d5fc000b6c06a8c55"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4785'
      X-Ratelimit-Reset:
      - '1592296071'
      Etag:
      - '"24aa27b389d3fb6c5d03c19a29ac6146"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/anipos/sparrow/git/refs/heads/gitops-238947c2440028cfff5388c7fba3aa4ca7ae92f5-spec
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/gitops-238947c2440028cfff5388c7fba3aa4ca7ae92f5-spec","node_id":"MDM6UmVmMjU0Mjg2MDYwOnJlZnMvaGVhZHMvZ2l0b3BzLTIzODk0N2MyNDQwMDI4Y2ZmZjUzODhjN2ZiYTNhYTRjYTdhZTkyZjUtc3BlYw==","url":"https://api.github.com/repos/anipos/sparrow/git/refs/heads/gitops-238947c2440028cfff5388c7fba3aa4ca7ae92f5-spec","object":{"sha":"aee5ea92cd9de5cb1f26334d5fc000b6c06a8c55","type":"commit","url":"https://api.github.com/repos/anipos/sparrow/git/commits/aee5ea92cd9de5cb1f26334d5fc000b6c06a8c55"}}'
  recorded_at: Tue, 16 Jun 2020 08:17:34 GMT
- request:
    method: post
    uri: https://api.github.com/repos/anipos/sparrow/pulls
    body:
      encoding: UTF-8
      string: '{"base":"master","head":"refs/heads/gitops-238947c2440028cfff5388c7fba3aa4ca7ae92f5-spec","title":"Update
        tag to 238947c2440028cfff5388c7fba3aa4ca7ae92f5","body":"> Enable newly added
        rubocop lints (#25)\n\nhttps://github.com/anipos/sparrow/commit/238947c2440028cfff5388c7fba3aa4ca7ae92f5\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4784'
      X-Ratelimit-Reset:
      - '1592296071'
      Etag:
      - '"55732d3092dd84f9c968dc7c840aad62"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/anipos/sparrow/pulls/28
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/anipos/sparrow/pulls/28","id":435051111,"node_id":"MDExOlB1bGxSZXF1ZXN0NDM1MDUxMTEx","html_url":"https://github.com/anipos/sparrow/pull/28","diff_url":"https://github.com/anipos/sparrow/pull/28.diff","patch_url":"https://github.com/anipos/sparrow/pull/28.patch","issue_url":"https://api.github.com/repos/anipos/sparrow/issues/28","number":28,"state":"open","locked":false,"title":"Update
        tag to 238947c2440028cfff5388c7fba3aa4ca7ae92f5","user":{"login":"shouichi","id":99586,"node_id":"MDQ6VXNlcjk5NTg2","avatar_url":"https://avatars0.githubusercontent.com/u/99586?v=4","gravatar_id":"","url":"https://api.github.com/users/shouichi","html_url":"https://github.com/shouichi","followers_url":"https://api.github.com/users/shouichi/followers","following_url":"https://api.github.com/users/shouichi/following{/other_user}","gists_url":"https://api.github.com/users/shouichi/gists{/gist_id}","starred_url":"https://api.github.com/users/shouichi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/shouichi/subscriptions","organizations_url":"https://api.github.com/users/shouichi/orgs","repos_url":"https://api.github.com/users/shouichi/repos","events_url":"https://api.github.com/users/shouichi/events{/privacy}","received_events_url":"https://api.github.com/users/shouichi/received_events","type":"User","site_admin":false},"body":">
        Enable newly added rubocop lints (#25)\n\nhttps://github.com/anipos/sparrow/commit/238947c2440028cfff5388c7fba3aa4ca7ae92f5\n","created_at":"2020-06-16T08:17:35Z","updated_at":"2020-06-16T08:17:35Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/anipos/sparrow/pulls/28/commits","review_comments_url":"https://api.github.com/repos/anipos/sparrow/pulls/28/comments","review_comment_url":"https://api.github.com/repos/anipos/sparrow/pulls/comments{/number}","comments_url":"https://api.github.com/repos/anipos/sparrow/issues/28/comments","statuses_url":"https://api.github.com/repos/anipos/sparrow/statuses/aee5ea92cd9de5cb1f26334d5fc000b6c06a8c55","head":{"label":"anipos:gitops-238947c2440028cfff5388c7fba3aa4ca7ae92f5-spec","ref":"gitops-238947c2440028cfff5388c7fba3aa4ca7ae92f5-spec","sha":"aee5ea92cd9de5cb1f26334d5fc000b6c06a8c55","user":{"login":"anipos","id":54934369,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0OTM0MzY5","avatar_url":"https://avatars2.githubusercontent.com/u/54934369?v=4","gravatar_id":"","url":"https://api.github.com/users/anipos","html_url":"https://github.com/anipos","followers_url":"https://api.github.com/users/anipos/followers","following_url":"https://api.github.com/users/anipos/following{/other_user}","gists_url":"https://api.github.com/users/anipos/gists{/gist_id}","starred_url":"https://api.github.com/users/anipos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/anipos/subscriptions","organizations_url":"https://api.github.com/users/anipos/orgs","repos_url":"https://api.github.com/users/anipos/repos","events_url":"https://api.github.com/users/anipos/events{/privacy}","received_events_url":"https://api.github.com/users/anipos/received_events","type":"Organization","site_admin":false},"repo":{"id":254286060,"node_id":"MDEwOlJlcG9zaXRvcnkyNTQyODYwNjA=","name":"sparrow","full_name":"anipos/sparrow","private":false,"owner":{"login":"anipos","id":54934369,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0OTM0MzY5","avatar_url":"https://avatars2.githubusercontent.com/u/54934369?v=4","gravatar_id":"","url":"https://api.github.com/users/anipos","html_url":"https://github.com/anipos","followers_url":"https://api.github.com/users/anipos/followers","following_url":"https://api.github.com/users/anipos/following{/other_user}","gists_url":"https://api.github.com/users/anipos/gists{/gist_id}","starred_url":"https://api.github.com/users/anipos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/anipos/subscriptions","organizations_url":"https://api.github.com/users/anipos/orgs","repos_url":"https://api.github.com/users/anipos/repos","events_url":"https://api.github.com/users/anipos/events{/privacy}","received_events_url":"https://api.github.com/users/anipos/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/anipos/sparrow","description":"Sparrow
        is a bot runs jobs on Cloud Build events.","fork":false,"url":"https://api.github.com/repos/anipos/sparrow","forks_url":"https://api.github.com/repos/anipos/sparrow/forks","keys_url":"https://api.github.com/repos/anipos/sparrow/keys{/key_id}","collaborators_url":"https://api.github.com/repos/anipos/sparrow/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/anipos/sparrow/teams","hooks_url":"https://api.github.com/repos/anipos/sparrow/hooks","issue_events_url":"https://api.github.com/repos/anipos/sparrow/issues/events{/number}","events_url":"https://api.github.com/repos/anipos/sparrow/events","assignees_url":"https://api.github.com/repos/anipos/sparrow/assignees{/user}","branches_url":"https://api.github.com/repos/anipos/sparrow/branches{/branch}","tags_url":"https://api.github.com/repos/anipos/sparrow/tags","blobs_url":"https://api.github.com/repos/anipos/sparrow/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/anipos/sparrow/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/anipos/sparrow/git/refs{/sha}","trees_url":"https://api.github.com/repos/anipos/sparrow/git/trees{/sha}","statuses_url":"https://api.github.com/repos/anipos/sparrow/statuses/{sha}","languages_url":"https://api.github.com/repos/anipos/sparrow/languages","stargazers_url":"https://api.github.com/repos/anipos/sparrow/stargazers","contributors_url":"https://api.github.com/repos/anipos/sparrow/contributors","subscribers_url":"https://api.github.com/repos/anipos/sparrow/subscribers","subscription_url":"https://api.github.com/repos/anipos/sparrow/subscription","commits_url":"https://api.github.com/repos/anipos/sparrow/commits{/sha}","git_commits_url":"https://api.github.com/repos/anipos/sparrow/git/commits{/sha}","comments_url":"https://api.github.com/repos/anipos/sparrow/comments{/number}","issue_comment_url":"https://api.github.com/repos/anipos/sparrow/issues/comments{/number}","contents_url":"https://api.github.com/repos/anipos/sparrow/contents/{+path}","compare_url":"https://api.github.com/repos/anipos/sparrow/compare/{base}...{head}","merges_url":"https://api.github.com/repos/anipos/sparrow/merges","archive_url":"https://api.github.com/repos/anipos/sparrow/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/anipos/sparrow/downloads","issues_url":"https://api.github.com/repos/anipos/sparrow/issues{/number}","pulls_url":"https://api.github.com/repos/anipos/sparrow/pulls{/number}","milestones_url":"https://api.github.com/repos/anipos/sparrow/milestones{/number}","notifications_url":"https://api.github.com/repos/anipos/sparrow/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/anipos/sparrow/labels{/name}","releases_url":"https://api.github.com/repos/anipos/sparrow/releases{/id}","deployments_url":"https://api.github.com/repos/anipos/sparrow/deployments","created_at":"2020-04-09T06:08:36Z","updated_at":"2020-06-16T08:07:04Z","pushed_at":"2020-06-16T08:17:34Z","git_url":"git://github.com/anipos/sparrow.git","ssh_url":"git@github.com:anipos/sparrow.git","clone_url":"https://github.com/anipos/sparrow.git","svn_url":"https://github.com/anipos/sparrow","homepage":"","size":60,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":{"key":"apache-2.0","name":"Apache
        License 2.0","spdx_id":"Apache-2.0","url":"https://api.github.com/licenses/apache-2.0","node_id":"MDc6TGljZW5zZTI="},"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"anipos:master","ref":"master","sha":"e576c84240351242a549e7e88079d854b464218a","user":{"login":"anipos","id":54934369,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU0OTM0MzY5","avatar_url":"https://avatars2.githubusercontent.com/u/54934369?v=4","gravatar_id":"","url":"https://api.github.com/users/anipos","html_url":"https://github.com/anipos","followers_url":"https://api.github.com/users/anipos/followers","following_url":"https://api.github.com/users/anipos/following{/other_user}"[...]
